$blanco: white;
$negro: black;

.footer{
    font-size: 15px;
    background-color: $negro;
    font-family: 'Roboto' , sans-serif;
    .contactos{
        padding: 20px;
        background-color: $negro;
        color: $blanco;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        #h1{
            padding: 10px;
            text-align: center;
            border: $negro;
            color: $blanco;
            background-color: $negro;
            border-style: inset;
            font-family: 'Roboto', sans-serif;
            margin-top: 10px;
            
            
        }

    }

}


#nosotros{
    padding: 50px;
    font-family: 'Orelega', sans-serif;
    text-align: center;
    #nosotros2{
        border-style: double;
        border-color: $negro;
        background-color: #f9c5d1;
        background-image: linear-gradient(315deg, #f9c5d1 0%, #979eef 74%);
    }
}

#manga{
    padding: 50px;
    background-image:url("https://c.wallhere.com/photos/99/cb/manga_anime-1879243.jpg!d");
    color: red;
    font-family: 'Roboto' , sans-serif;
    text-align: center;
    backdrop-filter: blur(3px);
}

#danmei{
    padding: 50px;
    text-align: center;
    color: $negro;
    background-image: url("https://pillowfortmedia.s3.amazonaws.com/posts/9d846766b7cc_04.gif");
    background-repeat: no-repeat;
    background-size: cover;
    #danmeiInfo{
        padding: 20px;
        color: $blanco;
        #infoNovelas{
            padding: 50px;
            border-style: dotted;
            border-color: $negro;
            margin-top: 10px;
            #novelas{
                text-decoration: underline;
            }
        }
    }
    
}

